h1{
  color: white;
  font-size: 50;
  font-style: oblique;
  display: flex;
  justify-content: center;
  font-family: 'Gloria Hallelujah', cursive;
}
header{
  background-color: rgb(26, 221, 152);
}
nav{
  text-align: center;
}
nav a:hover{
  color: purple;
  font-size: 20px;
  font-style: oblique;
}
.continer{
  display:flex;
  justify-content: center;
  align-items: stretch;
}
.item{
  font-family: 'Josefin Slab', serif;
}
footer{
  background-color: rgb(26, 221, 152);
  color: purple;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}
